extends layout

block content
  h1 AllCommunication
  p.lead An application that can help the communication between deaf and non-deaf
  hr
  .row
    .col-sm-6
      h2 Live Video
      p A user-friendly live video platform which can tranlate speaker's speech to American Sign Language
      p
        a.btn.btn-default(href='/api/videochat', role='button') View details »
    .col-sm-6
      h2 Dictionary
      p A Dictionary that can translate english text to American Sign Language
      p
        a.btn.btn-default(href='/api/speech', role='button') View details »
    .col-sm-6
      h2 Voice Translator
      p A voice translator that can translate speech to American Sign Language
      p
        a.btn.btn-default(href='#', role='button') View details »
